@page "/"

<PageTitle>
Home
</PageTitle>

<h1>DrumSequencer</h1>

@code {
private int CurrentStep = -1;
private int BPM = 120;
private bool IsPlaying = false;
private List<Track> Tracks = new();
private IJSObjectReference? _module;
private DotNetObjectReference<Home>? _objRef;

protected override async Task OnAfterRenderAsync(bool firstRender)

if (firstRender){

}


}
